@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "aos/dist/aos.css";

/* Temel CSS S覺f覺rlama */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	/* Renkler */
	/* --samsung-black: #000000; */
	--samsung-white: #ffffff;
	--samsung-blue: #2189ff;
	--samsung-light-gray: #f5f5f5;
	/* --samsung-dark-gray: #333333; */

	/* Font Ailesi */
	font-family: 'Inter', sans-serif;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: var(--samsung-white);
	
	color: var(--samsung-black);
	overflow-x: hidden; /* Yatay kayd覺rmay覺 engelle */
}

a {
	text-decoration: none;
	color: inherit;
}

.button {
	display: inline-block;
	font-weight: 700;
	text-align: center;
	border-radius: 20px;
	padding: 8px 24px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.button-primary {
	background-color: var(--samsung-blue);
	color: var(--samsung-white);
	border: 1px solid var(--samsung-blue);
}

.button-primary:hover {
	opacity: 0.8;
}

.button-secondary {
	background-color: var(--samsung-black);
	color: var(--samsung-white);
	border: 1px solid var(--samsung-black);
}

.button-secondary:hover {
	background-color: var(--samsung-dark-gray);
}

.section-title {
	font-size: 2.5rem;
	font-weight: 700;
	text-align: center;
	margin-bottom: 40px;
}
